/* -------------------------------------
 * Fonts
 * ------------------------------------- */
@font-face {
  font-family: "Phosphate Solid";
  src: font-url('PhosphateSolid.woff') format('woff');
  font-weight: 400;
}
@font-face {
  font-family: "Avenir";
  src: font-url('AvenirLight.eot');
  src: font-url('AvenirLight.eot?#iefix') format('embedded-opentype'),
       font-url('AvenirLight.woff') format('woff'),
       font-url('AvenirLight.woff2') format('woff2'),
       font-url('AvenirLight.ttf') format('truetype');
  font-weight: 100;
}
@font-face {
  font-family: "Avenir";
  src: font-url('AvenirMedium.eot');
  src: font-url('AvenirMedium.eot?#iefix') format('embedded-opentype'),
       font-url('AvenirMedium.woff') format('woff'),
       font-url('AvenirMedium.woff2') format('woff2'),
       font-url('AvenirMedium.ttf') format('truetype');
  font-weight: 300;
}
@font-face {
  font-family: "Avenir";
  src: font-url('AvenirSemiBold.eot');
  src: font-url('AvenirSemiBold.eot?#iefix') format('embedded-opentype'),
       font-url('AvenirSemiBold.woff') format('woff'),
       font-url('AvenirSemiBold.woff2') format('woff2'),
       font-url('AvenirSemiBold.ttf') format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: "Avenir";
  src: font-url('AvenirBold.eot');
  src: font-url('AvenirBold.eot?#iefix') format('embedded-opentype'),
       font-url('AvenirBold.woff') format('woff'),
       font-url('AvenirBold.woff2') format('woff2'),
       font-url('AvenirBold.ttf') format('truetype');
  font-weight: 900;
}
@font-face {
  font-family: "Avenir";
  src: font-url('AvenirMediumItalic.eot');
  src: font-url('AvenirMediumItalic.eot?#iefix') format('embedded-opentype'),
       font-url('AvenirMediumItalic.woff') format('woff'),
       font-url('AvenirMediumItalic.woff2') format('woff2'),
       font-url('AvenirMediumItalic.ttf') format('truetype');
  font-style: italic;
}

// Fonts family
$base-font: "Avenir", "Helvetica", "sans-serif";
$header-font: $base-font;
$block-font: "Phosphate Solid", "Helvetica", "sans-serif";

// Font-size and line-height
$base-size: 16px;
$base-height: 1.4;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
$brand-color: #D23333;

$red: #FF6F59;
$blue: #89DBF6;
$yellow: #FDB631;
$orange: #E67E22;
$green: #75FFA7;
$grey: #434343;
$medium-grey: #D8D8D8;
$light-grey: #F3F3F3;
