.full-screen {
  height: 100vh;
  width: 100%;
  background-size: cover;
}
.new-game-form {
}

.wrap-form {
  background-color: rgba(67,67,67,0.6);
  border-radius: 3px;
  color: #F3F3F3;
  padding: 42px 10px;
  margin-top: 120px;
}
