<div class="canvas-container">
  <canvas id="victories"></canvas>
</div>
<div class="canvas-container">
  <canvas id="myChart"></canvas>
</div>

<% content_for(:after_js) do %>
  <% array = [] %>
  <% values = [] %>
  <% Game::GAMES.keys.each do |game_name| %>
    <% array << "#{game_name}" %>
     <%values << @user.number_of_challenge_for(game_name) %>
  <% end %>

  <% my_value = [] %>
  <% my_value << @user.number_of_victory %>
  <% my_value << @user.number_of_losses %>
  <script>

    new Chart(document.getElementById("myChart"), {
      type: 'doughnut',
      data: {
        labels: <%= raw array %>,
        datasets: [
          {
            label: "Population (millions)",
            backgroundColor: ["#B3AEF1", "#FBB6C4","#75FFA7","#89DBF6","#FF6F59", "#D8D8D8", "#434343"],
            data: <%= raw values %>,
          }
        ]
      },
      options: {
        legend: {
          display : false
        },
        title: {
          display: false,
        }
      }
    });



    new Chart(document.getElementById("victories"), {
      type: 'doughnut',
      data: {
        labels: ["Won", "Lost"],
        datasets: [
          {
            label: "Population (millions)",
            backgroundColor: ["#75FFA7","#FF6F59"],
            data: <%= raw my_value %>,
          }
        ]
      },
      options: {
        legend: {
          display : false
        },
        title: {
          display: false,
        }
      }
    });

  </script>
<% end %>
