.wrap-white {
  background-size: cover;
  color: $light-grey;
  height: 300px;
  position: relative;
}

// .wrap-infos {
//   flex: 0 0 50%;
//   margin: 0 30px;
// }
.wrap-money {
  flex: 0 1 auto;
  margin: 0 30px;
}

.profile-content {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: -50px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

.profile-user-avatar {
}

.profile-username{
  position: relative;
  .btn-edit-user {
    position: absolute;
    top: -5px;
    right: -20px;
  }
}

.flex-row-centered {
  display: flex;
  justify-content: space-between;

}

.profile-page-username {
  font-family: $block-font;
  margin-bottom: 14px;
}
