/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}
.padding-bottom{
  padding-bottom: 5em;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}
a:hover {
  text-decoration: none;
}
body {
  background-color: $grey;
}
h1 {
  color: $light-grey;
}
h2 {
  color: $green;
}
h4 {
  color: $light-grey;
}

// Flexbox
.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}
.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.flex-row{
  display:flex;
  align-items: center;
}
.flex-row-center{
  display:flex;
  align-items: center;
  justify-content: center;

}
