.modal-content {
  border-radius: 10px;
}

.close {
  margin-top: 1px;
  margin-right: 1px;
}

.modal-banner {
  text-align: center;
  height: 28vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.create-challenge {
  margin-top: 0px !important;
  margin-bottom: 5px;
}

.modal-body {
  padding: 0px;
}

.modal-header {
  background-color: #6FFFA4;
  border: none;
  border-radius: 10px 10px 0px 0px;
  text-align: center;
  padding: 6px;
}

.modal-header h4 {
  color: #6AA881;
}

.modal-title {
  font-family: Phosphate Solid;
  font-size: 35px;
}

.modal-footer {
  text-align: center;
}

.game-info {
  position: relative;
}

.modal-user-avatar {
  position: absolute;
  left: 199px;
  top: -53px;
}

.modal-user-avatar p {
  color: #434343;
  font-family: Phosphate Solid;
  margin-top: 28px;
  margin-bottom: none;
}

.modal-username {
  color: #FF6E53;
  font-family: Phosphate Solid;
  font-size: 22px;
}

.modal-form-group {
  padding: 50px;
  padding-bottom: 10px;
  margin-top: 100px;
  text-align: center;
}

.bootstrap-datetimepicker-widget {
  background-color: #434343;
  border-radius: 4px;
  box-shadow: 4px 4px 0px 0px;
  padding: 10px;
  margin-bottom: 30px;
}

.timepicker {
  font-family: Phosphate Solid;
  font-size: 45px;
}

.timepicker.separator{
  padding: 5px;
}

.separator {
  padding: 3px;
}
