.btn-green {
  margin-top: 40px;
  background-color: $green;
  color: $grey;
  font-family: "Phosphate Solid";
  font-size: 16px;
  border-color: none;
  &:hover {
    background-color: $grey;
    color: $green;
  }
}
.btn-profile-tab {
  margin-top: 10px;
  // &.active {
  // border: 1px solid $green;
  // }
}
.btn-profile-tab.active {
  background-color: $grey;
  color: $green;
  border: 1px solid $green;
}
.btn-fb {
  margin-top: 40px;
  background-color: #3B5998;
  color: $light-grey;
  font-family: "Phosphate Solid";
  font-size: 16px;
  border-color: none;
  &:hover {
    background-color: $light-grey;
    color: #3B5998;
  }
}
.btn-forgot {
  color: $green;
  margin-top: 20px;
  &:hover {
  color: $light-grey;
  }
}
.btn-score {
  margin-bottom: 30px;
}

.btn-won-lost {
  background-color: $green;
}
#challenge_result {
  width: 40%;
  margin: 0 auto;
}
.control-label {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 16px;
}
.collection_radio_buttons {
  margin-left: 15px;
  margin-right: 25px;
  color: $grey;
  font-size: 16px;
}
#challenge_winner_true {
  margin: 4px 22px 0px;
}
#challenge_winner_false {
  margin: 4px 22px 0px;
}
