.list-game{
  color: $light-grey;
  font-size: 20px;
  height: 70px;
  flex: 0 0 500px;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}
.list-items{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  width: 100%;
}
.list-stake{
  background-color: $red;
  padding: 0 15px;
  height: 50px;
  flex: 0 0 80px;
}
.list-stake-blue{
  background-color: $blue;
  height: 50px;
  padding: 0 15px;
  flex: 0 0 80px;
}
.list-content{
  background-color: $light-grey;
  height: 70px;
  flex: 0 0 150px;
}
.list-date{
  background-color: $medium-grey;
  height: 70px;
  flex: 0 0 180px;
  color: $light-grey;
}
.list-date-blue{
  background-color: $blue;
  height: 70px;
  flex: 0 0 180px;
  color: $light-grey;
}
.list-status{
  background-color: $medium-grey;
  color: $light-grey;
  height: 50px;
  flex: 0 0 100px;
}
.list-status-red{
  background-color: $red;
  color: $light-grey;
  height: 50px;
  flex: 0 0 100px;
}
.list-status-green{
  background-color: $green;
  color: $light-grey;
  height: 50px;
  flex: 0 0 100px;
}
.list-accept{
  background-color: $green;
  height: 50px;
  flex: 0 0 50px;
  a{color: $light-grey;}
}
.list-decline{
  background-color: $red;
  height: 50px;
  flex: 0 0 50px;
  a{color: $light-grey;}
}
.list-score{
  background-color: $blue;
  height: 50px;
  flex: 0 0 100px;
  color: $light-grey;
}

// CHALLENGES FOR A GAME
.list-content-challenge{
  background-color: $light-grey;
  height: 50px;
  margin-left: 203px;
  flex: 0 0 150px;
  font-size: 12px;
}
.list-date-blue-challenge{
  background-color: $blue;
  height: 50px;
  flex: 0 0 180px;
  color: $light-grey;
  font-size: 12px;
}
.list-accept-challenge{
  background-color: $green;
  height: 30px;
  flex: 0 0 50px;
  a{color: $light-grey;}
}
.list-decline-challenge{
  background-color: $red;
  height: 30px;
  flex: 0 0 50px;
  a{color: $light-grey;}
}
.list-score-challenge{
  background-color: $green;
  height: 30px;
  flex: 0 0 100px;
  color: $light-grey;
}
//SHADOWS
.box-shadow-grey{
  box-shadow: 3px 3px 0px 0px rgba(216,216,216,0.75);
}
.box-shadow-grey-right{
  box-shadow: inset -3px -3px 0px 0px rgba(135,135,135,1);
}
.box-shadow-red{
  box-shadow: inset 3px -3px 0px 0px rgba(209,91,73,1);
}
.box-shadow-red-right{
  box-shadow: inset -3px -3px 0px 0px rgba(209,91,73,1);
}
.box-shadow-blue{
  box-shadow: inset 3px -3px 0px 0px rgba(99,159,178,1);
}
.box-shadow-blue-right{
  box-shadow: inset -3px -3px 0px 0px rgba(99,159,178,1);
}
.box-shadow-green-right{
  box-shadow: inset -3px -3px 0px 0px rgba(95,206,135,1);
}


// TITLES
.title-green{
  color: $green;
}
.title-red{
  color: $red;
}
.title:before, .title:after {
  content:'';
  width:5em;
  border-bottom:1px $light-grey solid;
  display:inline-block;
  vertical-align:middle;
}
.title-green:before, .title-green:after {
  content:'';
  width:5em;
  border-bottom:1px $green solid;
  display:inline-block;
  vertical-align:middle;
}
.title-red:before, .title-red:after {
  content:'';
  width:5em;
  border-bottom:1px $red solid;
  display:inline-block;
  vertical-align:middle;
}
.title:before {
  margin-left:-100%;
margin-right:2em}
.title:after {
  margin-right:-100%;
margin-left:2em;}
