.list-game{
  color: $light-grey;
  font-size: 30px;
  font-family: $block-font;
  letter-spacing: 2px;
  height: 100px;
  flex: 0 0 800px;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}
.list-items{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  width: 100%;
}
.list-stake{
  background-color: $grey;
  height: 50px;
  border-radius: 50%;
  font-size: 15px;
  font-weight: bold;
  color: $green;
  flex: 0 0 50px;
  position: relative;
  margin-right: -75px;
  border: 1px solid $green;
}
.list-stake-upcoming {
  margin-right: 20px;
}

.list-delete{
    background-color: $grey;
    height: 50px;
    border-radius: 50%;
    font-size: 17px;
    font-weight: bold;
    color: $green;
    flex: 0 0 50px;
    position: relative;
    margin-left: -75px;
    border: 1px solid $green;
    &:hover {
      background-color: $green;
      color: $grey;
    }
}
.list-stake-blue{
  background-color: $blue;
  height: 50px;
  padding: 0 15px;
  flex: 0 0 80px;
}
.list-content{
  background-color: $light-grey;
  color: $grey;
  text-align: center;
  height: 70px;
  flex: 0 0 150px;
}
.list-content-title{
  font-family: $block-font;
  font-size: 25px;
  justify-content: flex-end;
  height: 70px;
  flex: 0 0 150px;
}
.list-date{
  background-color: $medium-grey;
  height: 70px;
  font-weight: bold;
  flex: 0 0 180px;
  color: $light-grey;
}
.list-date-blue{
  background-color: $blue;
  height: 70px;
  font-weight: bold;
  flex: 0 0 180px;
  color: $grey;
}
.list-status{
  background-color: #434343;
  height: 30px;
  border-radius: 15px;
  font-size: 11px;
  font-weight: lighter;
  color: $light-grey;
  flex: 0 0 100px;
  position: relative;
  margin-left: -200px;
  border: 1px solid #75FFA7;
}

.list-status-red{
  background-color: $red;
  color: $light-grey;
  height: 50px;
  flex: 0 0 100px;
}
.list-status-green{
  background-color: $green;
  color: $grey;
  font-weight: bold;
  font-family: $block-font;
  font-size: 40px;
  height: 50px;
  flex: 0 0 100px;
}
.list-accept{
  background-color: $green;
  height: 50px;
  flex: 0 0 50px;
  a{color: $light-grey;}
}
.list-decline{
  background-color: $red;
  height: 50px;
  flex: 0 0 50px;
  a{color: $light-grey;}
}
.list-score{
  background-color: $green;
  font-weight: bold;
  font-size: 16px;
  height: 50px;
  flex: 0 0 100px;
  color: $grey;
  border: 0px;
  &:hover {
    background-color: $grey;
    color: $green;
  }
}

// CHALLENGES FOR A GAME
.list-content-challenge{
  background-color: $grey;
  color: $green;
  font-size: 16px;
  height: 50px;
  margin-left: 350px;
  flex: 0 0 150px;
  border-radius: 30px 0 0 30px;
  border-left: 1px solid $green;
  border-top: 1px solid $green;
  border-bottom: 1px solid $green;
}

.list-content-status{
  background-color: $grey;
  color: $green;
  font-size: 20px;
  height: 50px;
  margin-right: 60px;
  flex: 0 0 175px;
  border-radius: 0 30px 30px 0;
  border-right: 1px solid $green;
  border-top: 1px solid $green;
  border-bottom: 1px solid $green;
}

.list-content-accepted {
 border-right: none;
 text-align: right;
 font-size: 14px;
 font-weight: bold;
 border-radius: 0px;
 margin-right: 10px;
 color: $blue;
 flex: 0 0 50px;
  &:hover {
    color: $light-grey;
    cursor: pointer;
  }
}

.list-date-blue-challenge{
  background-color: $grey;
  height: 50px;
  flex: 0 0 180px;
  color: $green;
  font-size: 16px;
  font-weight: bold;
  border-top: 1px solid $green;
  border-bottom: 1px solid $green;
}
.list-accept-challenge{
  background-color: $green;
  border-radius: 50%;
  height: 30px;
  flex: 0 0 30px;
  margin-right: 10px;
  a{color: $light-grey;}
  &:hover {
    background-color: $grey;
  }
}
.list-decline-challenge{
  background-color: $red;
  border-radius: 50%;
  height: 30px;
  flex: 0 0 30px;
  a{color: $light-grey;}
    &:hover {
    background-color: $grey;
  }
}
.list-score-challenge{
  background-color: $green;
  height: 30px;
  flex: 0 0 100px;
  color: $light-grey;
}
//SHADOWS
.box-shadow-grey{
  box-shadow: 3px 3px 0px 0px rgba(216,216,216,0.75);
}
.box-shadow-grey-right{
  box-shadow: inset -3px -3px 0px 0px rgba(135,135,135,1);
}
.box-shadow-red{
  box-shadow: inset 3px -3px 0px 0px rgba(209,91,73,1);
}
.box-shadow-red-right{
  box-shadow: inset -3px -3px 0px 0px rgba(209,91,73,1);
}
.box-shadow-blue{
  box-shadow: inset 3px -3px 0px 0px rgba(99,159,178,1);
}
.box-shadow-blue-right{
  box-shadow: inset -3px -3px 0px 0px rgba(99,159,178,1);
}
.box-shadow-green-right{
  box-shadow: inset -2px -2px 0px 0px rgba(95,206,135,0.8);
  &:hover {
    box-shadow: inset -2px -2px 0px 0px rgba(135,135,135,0.8)
  }
}


// TITLES
.title-green{
  color: $green;
}
.title-red{
  color: $red;
}
.title:before, .title:after {
  content:'';
  width:5em;
  border-bottom:1px $light-grey solid;
  display:inline-block;
  vertical-align:middle;
}
.title-green:before, .title-green:after {
  content:'';
  width:5em;
  border-bottom:1px $green solid;
  display:inline-block;
  vertical-align:middle;
}
.title-red:before, .title-red:after {
  content:'';
  width:5em;
  border-bottom:1px $red solid;
  display:inline-block;
  vertical-align:middle;
}
.title:before {
  margin-left:-100%;
margin-right:2em}
.title:after {
  margin-right:-100%;
margin-left:2em;}
